// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color_border: #000;
$color_headline: blue;

$arena_blue: #0a3a98;
$arena_blue_user: #39ace6;
$arena_blue_text: #086c9e;
$arena_heavy_blue: #23527c;

$arena_green: #20963e;
$arena_red: #e33436;
$arena_orange: #f7d414;

$arena_portlet_head: #e9e9e9;
$arena_light_grey: #f6f6f8;
$arena_underdark_grey: #9eadbc;
$arena_dark_grey: #34495e;
$arena_border_color: #c3c3d5;
$arena_grey: #c9c6bf;
$arena_white: #fff;

$arena_font_family: "Whitney SSm A", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif !important;

$table_odd_color: #faf9fc;
$table_even_color: #fff;

$header_top_bg_colour: #f4f3f8;
$header_top_text_colour: #0a3a98;
$header_middle_bg_colour: #fff;
$header_middle_text_colour: #0a3a98;
$header_bottom_bg_colour: #dfe0df;
$header_bottom_text_colour: #0a3a98;
$header_bottom_text_disabled_colour: #736e65;
